
<body>

    <div class="Forget">
        <div class="BusyWork">
            <div class="BW">
                <h1><b>Forget Busy Work, <br>Start Next Vacation</b></h1>
                <p>We provide what you need to enjoy your <br> holiday with family. Time to make another <br> memorable moments</p>
            </div>
            <div class="ShowMeNow">
                <a href="">Show Me Now</a>
            </div>
            <div class="Direction">
                <div class="Travelers">
                    <img src="images/icon/lock.png" alt="photo">
                    <p>80,409 <span>travellers</span></p>
                </div>
                <div class="Treasure">
                    <img src="images/icon/snap.png" alt="photo">
                    <p>862 <span>treasure</span></p>
                </div>
                <div class="Cities">
                    <img src="images/icon/location.png" alt="photo">
                    <p>1,492 <span>cities</span></p>
                </div>
            </div>
        </div>
        <div class="ForgetSidePic">
            <div><img src="images/topRight.png" alt="photo"></div>
        </div>
    </div>

    <div class="Mpicked"><p>Most Picked</p></div>
    <div class="MostPicked">
        <div class="mostPicked">
            <!-- <p>Most Picked</p> -->
        </div>
        <div class="Image-One">
            <img src="images/MostPick1.png">
            <div class="blue"><p>Blue Origin Fams <br><span>Jakarta, Indonesia</span></p></div>
            <div class="night1"><p>$50 per night</p></div>
        </div>
        <div class="img-b1">
            <div class="Image-Two">
                <img src="images/M1.png" alt="photo" width="100%" height="100%">
                <div class="Ocean"><p>Ocean Land <br><span>Bandung, Indonesia</span></p></div>
                <div class="night2"><p>$22 per night</p></div>
            </div>
            <div class="Image-Three">
                <img src="images/M2.png" alt="photo" width="100%" height="100%">
                <div class="Vinna"><p>Vinna Vill <br><span> Malang, Indonesia</span></p></div>
                <div class="night3"><p>$62 per night</p></div>
            </div>
        </div>
        <div class="img-b2">
            <div class="Image-Four">
                <img src="images/M3.png" alt="photo" width="100%" height="100%">
                <div class="Stark"><p>Stark House <br><span> Malang, Indonesia</span></p></div>
                <div class="night4"><p>$856 per night</p></div>
            </div>
            <div class="Image-Five">
                <img src="images/M4.png" alt="photo" width="100%" height="100%">
                <div class="Bobox"><p>Bobox <br><span>Medan, Indonesia</span></p></div>
                <div class="night5"><p>$72 per night</p></div>
            </div>
        </div>


    </div>
    <div class="Backyard"><p>Houses with beauty backyard</p></div>
    <div class="BeautyBackyard">
        <div class="Beauty-One">
            <img src="images/H1.png" alt="photo">
            <p>Tabby Town <br><span> Gunung Batu, Indonesia</span></p>
            <div class="PC1"><p>Popular <span>Choice</span></p></div>
        </div>
        <div class="Beauty-Two">
            <img src="images/H2.png" alt="photo">
            <p>Anggana <br><span>Bogor, Indonesia</span></p>
        </div>
        <div class="Beauty-Three">
            <img src="images/H3.png" alt="photo">
            <p>Seattle Rain <br><span>Jakarta, Indonesia</span></p>
        </div>
        <div class="Beauty-Four">
            <img src="images/H4.png" alt="photo">
            <p>Wooden Pit <br><span>Wonosobo, Indonesia</span></p>
        </div>
    </div>
    <div class="Living"><p>Hotels with large living room</p></div>
    <div class="LivingRoom">
        <div class="Lr1">
            <img src="images/Lr1.png" alt="photo">
            <p>Green Park <br><span>Tangerang, Indonesia</span></p>
        </div>
        <div class="Lr2">
            <img src="images/Lr2.png" alt="photo">
            <p>Podo Wae <br><span>Madiun, Indonesia</span></p>
        </div>
        <div class="Lr3">
            <img src="images/Lr3.png" alt="photo">
            <p>Silver Rain <br><span>Bandung, Indonesia</span></p>
        </div>
        <div class="Lr4">
            <img src="images/Lr4.png" alt="photo">
            <p>Cashville <br><span>Kemang, Indonesia</span></p>
            <div class="PC2"><p>Popular <span>Choice</span></p></div>
        </div>
    </div>
    <div class="Kitchen"><p>Apartments with kitchen set</p></div>
    <div class="KitchenSet">
        <div class="Kitchen1">
            <img src="images/Ks1.png" alt="photo">
            <p>PS Wood <br><span>Depok, Indonesia</span></p>
        </div>
        <div class="Kitchen2">
            <img src="images/Ks2.png" alt="photo">
            <p>One Five <br><span>Jakarta, Indonesia</span></p>
        </div>
        <div class="Kitchen3">
            <img src="images/Ks3.png" alt="photo">
            <p>Minimal <br><span>Bogor, Indonesia</span></p>
            <div class="PC3"><p>Popular <span>Choice</span></p></div>
        </div>
        <div class="Kitchen4">
            <img src="images/Ks4.png" alt="photo">
            <p>Stays Home <br><span>Wonosobo, Indonesia</span></p>
        </div>
    </div>
    <div class="HappyFamily">
        <div class="Family1">
            <img src="images/family.png" alt="photo">
        </div>
        <div class="Family2">
            <p1>
                <br><br>Happy Family <br><br></p>
                <img src="images/StarStar.png" alt="stars"><br>
                <p2>
                    What a great trip with my family and <br>I should try again next time soon <div class="br"></div></p>
                    <p3>
                        Angga, Product Designer</p>
                        <p><br> <br></p>
                        <div class="story">
                            <a href="">Read Their Story</a>
                        </div>
        </div>
    </div>
    



</body>
</html>